.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  min-height: 18.4rem;
}

.item-details__image {
  width: 20%;
  height: 20%;
  border-radius: 10px;
}

.item-details__description {
  margin-left: 2rem;
}

.item-details__description-item {
  padding: .25rem;
}

.item-details__description-term-text {
  margin-right: .5rem;
}
