.header__links-list-item {
  width: 5rem;
  height: 100%;
  list-style: none;
  margin: 0 1rem;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.header__title {
  margin-bottom: 1rem;
}

.header__links-list-item:hover {
  background-color: #444;
}

.header__link,
.header__link:hover {
  text-decoration: none;
}

.header__title-link {
  color: white;
  user-select: none;
}

.header__title-link:hover {
  color: #00bc8c;
}

.header__links-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
